# Ignore context.txt file
context.txt

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore the entire 4_RAG folder
4_RAG/

# Ignore all .ipynb_checkpoints directories
**/.ipynb_checkpoints/

# Ignore all .json files
*.json

# Ignore specific notebook file
4_Filtering\ Reviews.ipynb

# Ignore the deception_detector_bert_cased folder
deception_detector_bert_cased/